{% extends "base.html" %}
{% load static %}

{% block title %}
Homepage
{% endblock title %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <style>
        body {
            background-color: #DDDEDE
        }
    </style>
    <body>
        <!-- main banner -->
        <!-- https://getbootstrap.com/docs/5.2/layout/containers/ -->
        <!-- https://getbootstrap.com/docs/5.2/layout/grid/ -->

        <section class="container-fluid section bgimage" id="home">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 cos-xs-12 hero_text">
                    <h2 class="hero_title title">University of Illinois</h2>
                    <p class="hero_desc heading">Men's Volleyball Club</p>
                </div>
            </div>
        </section>
        <section class="container section" id="about">
            <div class="row mt-3">
                <h2 class="heading">Illinois Men's Volleyball Club</h1>
                <p class="text">The University of Illinois' Volleyball Club, now with a 
                brand spanking new website.
                </p>
                <p class="text"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.<br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dolor sit amet consectetur adipiscing elit ut aliquam purus sit. Lorem donec massa sapien faucibus. Nibh mauris cursus mattis molestie a iaculis at erat pellentesque. Semper eget duis at tellus. Vulputate odio ut enim blandit volutpat. Est pellentesque elit ullamcorper dignissim cras tincidunt. In tellus integer feugiat scelerisque varius. Vitae congue eu consequat ac felis donec. Congue mauris rhoncus aenean vel elit scelerisque.<br>
                    Vitae semper quis lectus nulla at. Nibh ipsum consequat nisl vel pretium lectus quam id leo. Quis auctor elit sed vulputate mi sit. Egestas maecenas pharetra convallis posuere morbi leo urna molestie. Accumsan lacus vel facilisis volutpat. Imperdiet sed euismod nisi porta lorem mollis aliquam ut. In aliquam sem fringilla ut morbi tincidunt augue interdum velit. Quam pellentesque nec nam aliquam sem et tortor consequat. Purus sit amet volutpat consequat. Ipsum faucibus vitae aliquet nec ullamcorper. Lectus urna duis convallis convallis tellus id interdum velit. Adipiscing diam donec adipiscing tristique risus nec. Integer eget aliquet nibh praesent tristique magna. Faucibus turpis in eu mi bibendum. Ut ornare lectus sit amet est. Egestas pretium aenean pharetra magna ac placerat vestibulum.<br>
                    Dignissim sodales ut eu sem integer. Sed turpis tincidunt id aliquet. Leo vel orci porta non. Tempus egestas sed sed risus pretium quam vulputate dignissim. Sed arcu non odio euismod lacinia at. Nullam eget felis eget nunc. Nulla facilisi morbi tempus iaculis urna id volutpat lacus. Vulputate eu scelerisque felis imperdiet. Nibh venenatis cras sed felis. Lacinia at quis risus sed vulputate odio ut enim blandit. Arcu felis bibendum ut tristique.


                </p>
            </div>
       
    </body>
</html>
{{h}}
hello world from main!
{% endblock content %}