{% extends "base.html" %}
{% load static %}

{% block title %}
Teams
{% endblock title %}

{% block content %}
<!DOCTYPE html>
<html lang="en" class="background-color">
    <body>
        <section class="container section">
            <div class="mt-4 pt-4" id="heading"> 
                <h2 class="title">Teams</h2><br>
                <p class="text">
                    IMVB is divided into three teams: the 1s, 2s, and 3s. Club leaders determine teams at the beginning 
                    of the season based on skill level. <br>The 1s team competes in NCVF Division I A while the 2s and 3s 
                    compete in NCVF Division III against other B and C teams. All three teams maintain the 
                    goal of competing at a high level.
                </p>
            </div>
            <div class="mt-4 pt-4" id="illini-1s">
                <h2 class="title">Illini 1s Roster</h2>
                    
                    {% for player in data.first %}

                    <div class="row mt-4 pt-4">
                        <!-- 50%/50% split on small devices, 25%/75% split on medium and large devices. On extra small devices, it will automatically stack (100%) -->
                        <div class="col-sm-6 col-md-4 col-lg-3 player">
                            <img src="{{player.image.url}}"></img>
                        </div>
                        <div class="col-sm-6 col-md-8 col-lg-9 pt-4">
                            <h5 class="heading">{{player.first_name}} {{player.last_name}}</h5>
                            <span class="text">{{player.height}} | {{player.position}}</span><br>
                            <span class="text">{{player.major}}</span>
                        </div>
                    </div>

                    {% endfor %}
                 
                
            </div>
            <div class="mt-4 pt-4" id="illini-2s">
                <h2 class="title">Illini 2s Roster</h2>
                    
                    {% for player in data.second %}

                    <div class="row mt-4 pt-4">
                        <div class="col-sm-6 col-md-4 col-lg-3 player">
                            <img src="{{player.image.url}}"></img>
                        </div>
                        <div class="col-sm-6 col-md-8 col-lg-9 pt-4">
                            <h5 class="heading">{{player.first_name}} {{player.last_name}}</h5>
                            <span class="text">{{player.height}} | {{player.position}}</span><br>
                            <span class="text">{{player.major}}</span>
                        </div>
                    </div>

                    {% endfor %}
                
            </div>
            <div class="mt-4 pt-4" id="illini-3s">
                <h2 class="title">Illini 3s Roster</h2>
                    
                    {% for player in data.third %}

                    <div class="row mt-4 pt-4">
                        <div class="col-sm-6 col-md-4 col-lg-3 player">
                            <img src="{{player.image.url}}"></img>
                        </div>
                        <div class="col-sm-6 col-md-8 col-lg-9 pt-4">
                            <h5 class="heading">{{player.first_name}} {{player.last_name}}</h5>
                            <span class="text">{{player.height}} | {{player.position}}</span><br>
                            <span class="text">{{player.major}}</span>
                        </div>
                    </div>

                    {% endfor %}
                
            </div>
        </section>
    </body>
</html>


{% endblock content %}