 
 {% block content %}
 <!doctype html>
 <html>
    <footer class="text-center text-white footer">
        <div class="row container mt-4">
            <div class="col-sm-10 col-md-9 col-lg-8 pt-4 container">
                <img src="../../media/wordmark-blue-background.png" class="img-fluid"></img>
            </div>
            <div class="col-sm-2 col-md-3 col-lg-4 pt-4 footer-contact container">
                <h4 class='title'>Contact</h5>
                <p class='text'>illinimensvolleyball@gmail.com</p>
                <p class='text'></p>
            </div>
        </div>
        <!-- Grid container -->
        <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
            ></a>
    
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/IllinoisMensVB" target="_blank" role="button"
            ><i class="fa-brands fa-twitter"></i></i
            ></a>
    
            <!-- YouTube -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/playlist?list=PLlHTnw6JPRCTqFZnA71D8nmbh15-yoRtH" target="_blank" role="button"
            ><i class="fa-solid fa-play"></i></i
            ></a>
    
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/illinoismensvolleyballclub/" target="_blank" role="button"
            ><i class="fa-brands fa-instagram"></i></i
            ></a>
    
    
        </section>
        <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
        
    
        <!-- Copyright -->
        <div class="text-center p-3 text" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">U of I Men's Volleyball</a>
        </div>
        <!-- Copyright -->
    </footer>
</html>
{% endblock content %}