{% load static %}

{% block scripts %}
<script src="{% static 'script.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
<!-- navbar -->
<!-- https://getbootstrap.com/docs/5.2/components/navbar/ -->
<nav class="navbar navbar-custom navbar-expand-lg fixed-top navbarScroll navbar-dark text">
    <div class="container">
        <a class="navbar-brand" href="../..">
            <!-- dimensions 1400px by 2000px -->
            <img src="{% static 'illinois_logo.png'%}" width="25.2" height="36">
            {% comment %} University of Illinois Men's Volleyball Club {% endcomment %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../..">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../schedule/">Schedule</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="../../teams/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Teams
                    </a>
                    <ul class="dropdown-menu dropdown-menu-custom dropdown-menu-dark" style="border-radius: 0;">
                        <li><a class="dropdown-item" href="../../teams/">About</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="../../teams/#illini-1s">1s Roster</a></li>
                        <li><a class="dropdown-item" href="../../teams/#illini-2s">2s Roster</a></li>
                        <li><a class="dropdown-item" href="../../teams/#illini-3s">3s Roster</a></li>
                    </ul>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.youtube.com/@krystoferhan" target="_blank">
                        Film
                        {% comment %} <img src="../../media/redirect.png" width="15" height="15"> {% endcomment %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Store
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Donate
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>
<script>
    $(document).ready(function () {
        $('.dropdown').hover(function () {
            $(this).addClass('show');
            $(this).find('.dropdown-menu').addClass('show');
        }, function () {
            $(this).removeClass('show');
            $(this).find('.dropdown-menu').removeClass('show');
        });
    });
</script>

{% endblock content %}