{% extends "base.html" %}

{% block title %}
{% comment %} Schedule - {{tournament.name}} {% endcomment %}
Schedule - {{object.name}}
{% endblock title %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <section class="container section">
        <div class="mt-4 pt-4">
            <h3 class="title">{{object.name}}</h3><br>
            <p class="text">{{object.description}}</p><br>
        </div>
        <div class="mt-4 pt-4">
            <h5 class="heading">Results</h5><br>
            {% if object.result_text or object.result_link %}
                <p class="text">{{object.result_text}}</p>
                {% if not object.result_text %}
                    <a href="{{object.result_link}}">See results</a>
                {% else %}
                    <a href="{{object.result_link}}">See more about these results</a>
                {% endif %}
            {% else %}
                <p class="text">Results not available.</p>
            {% endif %}
        </div>
    </section>
</html>
<br>
{% comment %} {{ tournament }} {% endcomment %}

{% endblock content %}
