{% extends "base.html" %}

{% block title %}
Schedule - History
{% endblock title %}

{% block content %}
<html lang="en">
    <style>
        body {
            background-color: #DDDEDE
        }
    </style>
    <section class="container section">
        <div>
            <h2 class="title">Past tournaments</h2><br>
            <a class="text" href="../">View upcoming tournaments</a><br><br>
        </div>
        {% for obj in object_list %}
        <hr class="solid">
        <div class="mt-4 pt-4">
            <a class="heading" href="{{obj.get_absolute_url}}"><h5 class="heading tournament-name">{{obj.name}}</h5></a> <br> 
            <div class="text">
                <p>{{obj.start_date}} - {{obj.end_date}}</p>
                <p>{{obj.description}}</p><br>
            </div>
        </div>
        {% endfor %}
    </section>
</html>
{% comment %} <br><br>
tournament list <br><br>
{% for obj in object_list %}
    <a href= "{{obj.get_absolute_url}}">{{obj}}</a> <br> 
    {{obj.description}} <br> <br>
{% endfor %} {% endcomment %}
{% endblock content %}