{% extends "base.html" %}

{% block title %}
Schedule
{% endblock title %}

{% block content %}
<html lang="en">
    <body> 
        <section class="container section" id="schedule">
            <div class="mt-4 pt-4">
                <h2 class="title">Upcoming tournaments</h2><br>
                <a class="text" href="history/">View past tournaments</a><br><br>
            </div>
            {% for obj in object_list %}
            <hr class="solid">
            <div class="mt-4 pt-4">
                <a href="{{obj.get_absolute_url}}"><h5 class="heading">{{obj.name}}</h5></a> <br> 
                <div class="text">
                    <p>{{obj.start_date}} - {{obj.end_date}}</p>
                    <p>{{obj.description}}</p><br>
                </div>
                {% empty %}
                <p class="text">There are no upcoming tournaments.</p>
            </div>
            {% endfor %}
        </section>
    </body>
</html>

{% endblock content %}