{% extends "base.html" %}

{% block title %}
Schedule
{% endblock title %}

{% block content %}
<html lang="en">
    <style>
        body {
            background-color: #DDDEDE
        }
    </style>
    <body> 
        <section class="container section" id="schedule">
            <div>
                <h2 class="title">Upcoming tournaments</h2><br>
                <a class="text" href="history/">Past tournaments</a><br><br>
            </div>
            <div class="mt-4 pt-4">
                {% for obj in object_list %}
                <a class="heading" href="{{obj.get_absolute_url}}">{{obj.name}}</a> <br> 
                <div class="text">
                    <p>{{obj.start_date}} - {{obj.end_date}}</p>
                    <p>{{obj.description}}</p><br>
                </div>
                 
                {% endfor %}
            </div>
        </section>
    </body>
</html>

{% endblock content %}